# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
.dart_tool/chrome-device/Default/AutofillStrikeDatabase/LOG.old
.dart_tool/chrome-device/Default/Cache/11749460cd232678_0
.dart_tool/chrome-device/Default/Cache/17bc1823e51d12d6_0
.dart_tool/chrome-device/Default/Cache/1a25d985ed708cd5_0
.dart_tool/chrome-device/Default/Cache/1f569d84e746d0a0_0
.dart_tool/chrome-device/Default/Cache/2a45345c5ecaf308_0
.dart_tool/chrome-device/Default/Cache/31c6269c058d0817_0
.dart_tool/chrome-device/Default/Cache/3279a4c4274f1036_0
.dart_tool/chrome-device/Default/Cache/3fe22c38a7d6e300_0
.dart_tool/chrome-device/Default/Cache/4c67b53d00ef5a39_0
.dart_tool/chrome-device/Default/Cache/5cf860f05f7ca7a3_0
.dart_tool/chrome-device/Default/Cache/6082d6ffa6617553_0
.dart_tool/chrome-device/Default/Cache/770aa00c2ed911ef_0
.dart_tool/chrome-device/Default/Cache/7bb0998779a7206a_0
.dart_tool/chrome-device/Default/Cache/7d38eb321008fa23_0
.dart_tool/chrome-device/Default/Cache/81d1dbad38304b24_0
.dart_tool/chrome-device/Default/Cache/82a4213e0d9f802a_0
.dart_tool/chrome-device/Default/Cache/895c23baf713abb3_0
.dart_tool/chrome-device/Default/Cache/8a9d78eeb72145e7_0
.dart_tool/chrome-device/Default/Cache/8e2a85c6b219b10c_0
.dart_tool/chrome-device/Default/Cache/a1c1018819d094d7_0
.dart_tool/chrome-device/Default/Cache/a59a02dab54046c4_0
.dart_tool/chrome-device/Default/Cache/a5d05ea90479ad9f_0
.dart_tool/chrome-device/Default/Cache/a66277d25eff84d7_0
.dart_tool/chrome-device/Default/Cache/a7e254c7a13b6474_0
.dart_tool/chrome-device/Default/Cache/aceba096baf7e670_0
.dart_tool/chrome-device/Default/Cache/b2063540d4618167_0
.dart_tool/chrome-device/Default/Cache/b92150aed3437eaf_0
.dart_tool/chrome-device/Default/Cache/bcfb791875c111fd_0
.dart_tool/chrome-device/Default/Cache/d72bdb240a3688d0_0
.dart_tool/chrome-device/Default/Cache/e19917593a7114f0_0
.dart_tool/chrome-device/Default/Cache/e6e4e42c87d796a3_0
.dart_tool/chrome-device/Default/Cache/eaba8249902e8e05_0
.dart_tool/chrome-device/Default/Cache/ec39859e7409a988_0
.dart_tool/chrome-device/Default/Cache/ec5a1a64a5e69e54_0
.dart_tool/chrome-device/Default/Cache/fac387b29d9e051e_0
.dart_tool/chrome-device/Default/Cache/faff0d0dd8f6d377_0
.dart_tool/chrome-device/Default/Cache/fe383e77b113ac8c_0
.dart_tool/chrome-device/Default/Cache/ffabc5890e600e1c_0
.dart_tool/chrome-device/Default/GCM Store/Encryption/LOG.old
.dart_tool/chrome-device/Default/Session Storage/LOG.old
.dart_tool/chrome-device/Default/Site Characteristics Database/LOG.old
.dart_tool/flutter_build/0ccc810b59e663ab2ba6c7a55b5c6d6d/
